<h2>Bienvenido/a, @ViewBag.Usuario.NombreUsuario</h2>

<ul>
    <li>Fecha Nacimiento: @ViewBag.Usuario.FechaNacimiento.ToShortDateString()</li>
    <li>Hobby: @ViewBag.Usuario.Hobby</li>
    <li>Deporte: @ViewBag.Usuario.Deporte</li>
    <li>Color Favorito: @ViewBag.Usuario.ColorFav</li>
    <li>Película Favorita: @ViewBag.Usuario.PeliculaFav</li>
</ul>
<form asp-controller="Home" asp-action="Index" method="get">
    <button type="submit">Volver al inicio</button>
</form>
