@model Integrante

<h2>Bienvenido, @Model.NombreUsuario</h2>
<ul>
    <li>Fecha Nacimiento: @Model.FechaNacimiento</li>
    <li>Hobby: @Model.Hobby</li>
    <li>Deporte: @Model.Deporte</li>
    <li>Color Favorito: @Model.ColorFav</li>
    <li>Película Favorita: @Model.PeliculaFav</li>
</ul>
